@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 5px;
  padding: 5px;
}

body {
  margin: 0;
  font-family: 'Rubik', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;


  background-color: #e2e2e2;
  color: white;
}

a {
  color: #f4f4f4;
  text-decoration:none;
}

h1 {
  text-align: center;
  margin: 1rem;
}

